@{
    ViewData["Title"] = "Login Failure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login Failure</h2>
<br />
<p>Your account has been disabled. Please contact an administrator if you believe this is an error.</p>