@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2 class="display-4">Welcome</h2>
    <img src="~/Login.png" width="80" height="80" />
    <p><a asp-area="" asp-controller="Account" asp-action="ToLogin">Login</a> to get started.</p>
</div>